<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="../css/bootstrap.min.css" rel="stylesheet" type="text/css">
        <script src="../js/bootstrap.min.js"></script>
        <script src="../js/jquery-3.2.1.min.js"></script> 
        <link rel="stylesheet" href="../css/style.css">
        
        <title>
            Menu Inicial
        </title>
    </head>    
    
    <body>
            <h1> Menu Inicial</h1>

            <ol>
                <li> <a href="../view/classificacaoespanhola.html"> Campeonato Espanhol </a> </li>
                <li> <a href="../view/exercicio03.html"> Dicionario de Girias Nordestinas </a> </li>
                <li> <a href="../view/StarTrek2.html"> Star Trek </a> </li>
                <li> <a href="../view/PontosTuristicos.html"> Principais Pontos Turisticos de Santa Catarina </a> </li>
                <li> <a href="../view/SeriesdeTV.html"> Top 5 Séries de TV </a> </li>                
            </ol>
    </body>
</html>