<!DOCTYPE html>
<html>
    
    <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/jquery-3.2.1.min.js"></script>
    <link rel="stylesheet" href="../css/style.css">

    </head>
    
    <body>
        
        <h1> Dicionario de Girias Nordestinas </h1>
                
                <strong>A</strong></p>
        <p>A PULSO <br> A força, na marra.</p>
        <p>ABESTALHADO<br> bobo, besta, pateta.</p>
        <p>ABILOLADO<br> (ver. abestalhado)</p>
        <p>ACOCHADO<br> apertado (ex: Se aperreie não, doutor. Vou deixar os parafusos da roda do carro bem acochadinhos)</p>
        <p>AFOLOSADO<br> frouxo, quebrado. Ex: Não sente na cadeira, doutor, que ela está afolosada!</p>

        <p><strong>B</strong></p>
        <p>BACURAU <br> Último ônibus a passar na noite (Recife), também chamado de cata-corno. 2. Pássaro de hábitos noturnos.</p>
        <p>BADOQUE <br> Estilingue, atiradeira.</p>
        <p>BAITOLA <br> Viado.</p>
        <p>BANDA DE P??FANOS <br> Zabumba. Composta por dois pífanos, caixa, bombo, tambor e pratos. Tocam em solenidades religiosas ou profanas.</p>
        <p>BAQUE <br> queda.</p>

        <p><strong>C</strong></p>
        <p>CABA/CABRA <br> referente a homen, menino, etc.</p>
        <p>CABOCLINHO<br>  O mesmo que cabocolinho. Bloco carnavalesco cujos participantes desfilam fantasiados de índio. O instrumento em forma de arco-e-flecha, marca o ritmo dos passos.</p>
        <p>CABRA<br>  1. Sujeito, pessoa, elemento. 2. Fêmea do bode. 3. Mestiço de mulato e negro</p>
        <p>CABRA BOM<br> (Ou caba bom ). Sujeito agradável, atencioso, educado, gentil.</p>
        <p>CABRA DA PESTE<br> Homem forte, decidido. Referente a um homem ou menino de boa índole. Ex: Seu Chico ajuda a todos! Êta cabra da peste!

        <p><strong>D</strong></p>
        <p>DA GOTA <br> quando alguma goisa ou alguém é muito legal. Ex: essa cerveja é da gota de boa!</p>
        <p>DAR O CAGÃO <br> defecar.</p>
        <p>DAR O LAVRA/DAR LAVRANDO <br> Sair de repente, sem deixar pistas. Sair repentinamente ou simplesmente ir embora.</p>
        <p>DAR O MIJÃO <br> urinar.</p>
        <p>DAR O PIRA <br> vide “dar o lavra”.</p>

        <p><strong>E</strong></p>
        <p>E APOI <br> o mesmo que: e então!</p>
        <p>E APOIS?! <br> Variação de Apois, que por sua vez já é uma variação da conjunção Pois. Indica espanto ao concordar com alguma coisa: – Você está animado para ver o jogo? – E apois?! Ou: – Você tá muito feliz, num tá? – Apois num tou?!</p>
        <p>EITA <br> exclamação.</p>
        <p>EM GROSSO <br> No atacado. (Ex: Comprar em grosso)</p>
        <p>EMPANZINADO <br> cheio de comer.</p>

        <p><strong>F</strong></p>
        <p>FARDA <br> Uniforme.</p>
        <p>FARNESIM <br> Variação popular de frenesi. Delírio, desvario, arrebatamento, impaciência, inquietação, gastura, arrepio, comichão, agitação nervosa.</p>
        <p>FARRAPAR <br> “Dar balão”. Marcar um compromisso e não aparecer.</p>
        <p>FAZER O BALÃO <br> Dar a volta com o carro em um circular.</p>
        <p>FECHECLÉR <br> Zíper, fecho de calça (vem do francês “fecho ecláir”)</p>
   
        <p><strong>G</strong></p>
        <p>GABIRU <br> rato grande; estado de “rato” muito grande(vide “estar no rato”).</p>
        <p>GAIA<br> Variação de galha. Chifres de corno, o indivíduo vítima de uma infidelidade. Em outros estados brasileiros existem variações como pontas, chapéu de touro. Traição carnal numa relação a dois. Botar gaia? : função ativa na relação (principalmente a mulher: traidora, gaieira (1) ); Levar gaia? : função passiva na relação (principalmente o homem: traído, gaiudo (2) , chifrudo, corno). (1) Galheira; (2) galhudo.</p>
        <p>GALEGO <br> pessoa loura ou alourada.</p>
        <p>GELO BAIANO <br> blocos de concreto pintados de branco usados para separar as vias de trânsito.</p>
        <p>GIRADOR <br> do trânsito de veículos: circular, rotatória.</p>

        <p><strong>I</strong></p>
        <p>IAPOI <br> o mesmo que “e apoi”.</p>
        <p>INFELIZ DAS COSTA OCA <br> É um tipo de xingamento. Ex: Aquilo é um infeliz das costa oca, um mal carater, um mal elemento!</p>
        <p>INHACA <br> catinga, mau cheiro.</p>
        <p>INTERAR <br> (Por inteirar). Completar: Me dê aí um dinheirinho preu interar minha passagem.</p>
        
        <p><strong>J</strong></p>
        <p>JANTE <br> roda do carro.</p>
        <p>JERIMUM <br> Moranga (abóbora).</p>

        <p><strong>L</strong></p>
        <p>LANTERNEIRO <br> funcionário da oficina mecânica que corrige imperfeições na lataria do carro.</p>
        <p>LAVRA <br> Ver dê o lavra.</p>
        <p>LENDA <br>  Uma mentira que já surtiu efeito em pequenas comunidades, afetando seu modus vivendi, e que só foi descoberta tardiamente; mentira. Ex: &#8211; Mário me disse que capotou o carro 4 vezes e depois ainda saiu andando. &#8211; Isso é lenda dele.</p>
        <p>LESEIRA <br> abestalhamento, idiotice, molesa.</p>
        <p>LESO<br> abestalhado, demente, idiota, doido da cabeça.</p>

        <p><strong>M</strong></p>
        <p>MACACO <br> ganbiarra, gato e cabrito.</p>
        <p>MACAXEIRA <br> variedade comestível da mandioca.</p>
        <p>MACHO <br> Valente, brabo, cabra da peste.</p>
        <p>MAINHA <br> o mesmo que mamãe; diminutivo de mamãezinha.</p>
        <p>MALA <br> Ladrões, almas-sebozas, etc. (Ex: A esta hora da noite os malas estão soltos)</p>
                
        <p><strong>N</strong></p>
        <p>NARIZINHO DE PORROTE <br> nariz achatado e não muito saliente.</p>
        <p>NA TODA <br> Com muita pressa, na carreira, em toda a velocidade: Quando soube do que estava acontecendo, Fulano saiu na toda para o local.</p>
        <p>NO PRÓ<br>; sem problemas, sem bronca.</p>
        <p>NOPRÓ<br> problema de difícil solução (ex: Já recebeu o dinheiro? Que nada, deu o maior nopró lá no banco)</p>
        <p>NOS CAFUNDÓS DO JUDAS<br>; muito longe (variantes: “nos quintos dos infernos”, “onde o vento faz a curva”, “onde judas perdeu as botas”)</p>
        <p>NÓ CEGO <br> problema de difícil solução, sujeito enrolado, complicado.</p>

        <p><strong>O</strong></p>
        <p>O TAMPA <br> sujeito bom em algo.</p>
        <p>OIÃO<br> Olho grande, inveja.</p>
        <p>OITÃO <br> parte do quintal que dá para os lados da casa</p>
        <p>OLHO DE BILA <br> Pessoas com o globo ocular saltado. Pessoas invejosas, com “olho grande”.</p>
        
        <p><strong>P</strong></p>
        <p>PAIA<br> mulher feia; festa desanimada; objeto ruim, de má qualidade; o mesmo que fuleiro.</p>
        <p>PAINHO <br> o mesmo que papai; corruptela de papaizinho.</p>
        <p>PANTEL <br> Brabo, corajoso. Variação para o masculino de pantera (quer dizer: o macho da pantera) . Palavra criada pelos “machistas??? de Ribeirão/PE, por não aceitarem o apelido de pantera (“palavra feminina para qualificar macho?! Ôxe!!???); assim, criaram o pantel .</p>
        <p>PARADA <br> Ponto de ônibus</p>
        <p>PAREDE E MEIA <br> perto, vizinho. Ex: minha casa fica parede e meia com o supermercado.</p>

        <p><strong>Q</strong></p>
        <p>QUE NEM <br> igual a, tal qual (ex: Se avexe, menino, você hoje está que nem aruá)</p>
        <p>QUEBRAR CATULÉ <br> “Quebrou catulé”. Diz-se quando a arma de fogo falha (não dispara); quebrar coco.</p>
        <p>QUENGA v Mulher vulgar; Puta.</p>

        <p><strong>R</strong></p>
        <p>RABO PRESO <br> Diz-se quando alguém tem comprometimento com pessoas envolvidas em coisas ilegais ou reprováveis: Fulano não abre o bico porque tem rabo preso .</p>
        <p>RALA-BUXO <br> festa onde se pode dançar, forró.</p>
        <p>RAPARIGA <br> Prostituta (Ex: Filho de uma Rapariga).</p>
        <p>RATO (TOU NO RATO) <br> Liso, quebrado, sem dinheiro.</p>
        <p>RELAR<br> arranhar (ex: Foi passear de tobogã, relou a bunda)</p>
        <p>RESENHA <br>resumo, história</p>

        <p><strong>S</strong></p>
        <p>SACOLÉ <br> picole em saquinho &#8211; gelinho</p>
        <p>SAIMENTO <br> Atrevimento, enxerimento, saliência, exibicionismo.</p>
        <p>SARARÁ?(1) <br> formiga pequena, da bunda vermelha</p>
        <p>SARARÁ?(2)<br> pessoa de feições negras e cabelo alourado ou avermelhado (provavelmente resultantes do cruzamento de negros e holandeses).</p>
        <p>SARGAÇO <br> algas marinhas.</p>
        <p>SARRAR <br> Namorar se esfregando (compatível com o “dar uns máio”)</p>

        <p><strong>T</strong></p>
        <p>TABACA<br> Vagina, perseguida, vulva.</p>
        <p>TABACA RASPADA <br> Nome dado á Vila do Arlen.</p>
        <p>TABACUDO<br> bobo, “abestalhado”, abobado, “abilolado”.</p>
        <p>TABELIER<br> painel do carro.</p>
        <p>TAMBORETE DE ZONA<br> sujeito baixinho.</p>

        <p><strong>U</strong></p>
        <p>UM PÉ LÁ?, OUTRO CÁ? <br> ir e voltar rapidamente. Diz-se também “Vou num pé e volto no outro”.</p>
        <p>UNHA DE FOME <br> Diz-se de quem não gosta de gastar de dinheiro.</p>

        <p><strong>V</strong></p>
        <p>VENENO DO RATO <br> quando alguma coisa é muito boa, ex: esse cuscuz está o veneno do rato.</p>
        <p>VIRADO NO MOLHO DE COENTRO <br> estar com tudo e não dever nada a ninguém. Ser capaz das maiores realizações, por exemplo subir em um pé de coentro sem curvar seu caule.</p>
        <p>VISSE? <br> Por “Viste?”. Expressão largamente difundida no Recife: Hoje eu não vou, não, visse? ; ou: Tu visse o que aconteceu?! . Essa variação da segunda pessoa (pretérito perfeito) para o imperfeito do subjuntivo se dá em muitos outros verbos: Tu olhasse? ; ou, simplesmente: Olhasse? ; Fosse? ; Chamasse; etc. Existem também as variantes pronominais com emprego do pronome na segunda pessoa e verbo na terceira: Tu quer um pedaço de bolo?. Ou este outro tipo de construção: Adoro tu ; “Tou com saudade de tu…? (Dominguinhos e Nando Cordel, Gostoso Demais ).</p>
        <p>VIXE MARIA! <br> expressão de espanto, de susto. Ex.: Vixe maria! Que cangaceiro perigoso da peste!</p>
        <p>VO NÃO <br> não vai</p>

       <p><strong>X</strong></p>
        <p>XEREM <br> Polenta.</p>
        <p>XEXERO <br> (ê). Por seixeiro . Caloteiro, mau pagador, passador de xexo.</p>
        <p>XEXO <br> (ê). Por seixo . 1. Calhau, fragmento de rocha. 2. Calote em prostituta. Consta que, ao tempo da mineração, o minerador sem dinheiro para pagar; prostituta fingia dar-lhe uma pepita e, em lugar disto, dava um seixo; daí a expressão: Passou um xexo ou Deu um xexo .</p>
        <p>XIMBRA <br> Bola de gude.</p>

        <p><strong>Z</strong></p>
        <p>ZABUMBA <br> Ver banda de pífanos .</p>
        <p>ZAMBETA <br> de pernas tortas</p>
        <p>ZAROLHO <br> vesgo, que tem os olhos trocados</p>
        <p>ZOADA <br> barulho, confusão (ex: Que zoada é essa? É o trio elétrico passando)</p>
        <p>ZONA(1) <br> local do baixo meretrício</p>
        <p>ZONA(2) <br> bagunça, confusão (ex: Joãozinho, vá arrumar o seu quarto, que está a maior zona)</p>
        <p>ZUADA <br> o mesmo que zoada.<br />
    </body>

</html>