<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/jquery-3.2.1.min.js"></script>
    <link rel="stylesheet" href="../css/style.css">

    <title>
        Pontos Turísticos - SC
    </title>

</head>

<body>
    <div class="container">

        <div class="row">
            <div class="c2 cabecarioTuristicos">
                <center>
                    <h1><strong> Pontos Turísticos </strong></h1>
                </center>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-md-12">
                <img src="../resource/img/betocarreiroo.jpg" alt="" class="col-xs-12 col-md-4">
                <p class="c2 col-xs-12 col-md-8"> <br> Beto Carrero World é um parque temático localizado no litoral norte do estado de Santa Catarina, Brasil
                </p>
                <p class="col-xs-12 col-md-8">
                    <b class="c2"> Rua Inácio Francisco de Souza, 1597 - Praia de Armação, Penha - SC, 88385-000 </b>
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-md-12">
                <img src="../resource/img/farolsantamarta.jpg" alt="" class="col-xs-12 col-md-4">
                <p class="c2 col-xs-12 col-md-8"> <br> Farol de Santa Marta é um farol localizado no cabo de mesmo nome, em Laguna, no estado de Santa Catarina,
                    Brasil. A estrutura é uma torre quadrada, em pedra, que possui lanterna e galeria. Suas paredes possuem
                    2 metros de espessura. </p>
                <p class="col-xs-12 col-md-8">
                    <b class="c2"> Trilha Farol de Santa Marta, s/n - Farol de Santa Marta, Laguna - SC, 88790-000 </b>
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-md-12">
                <img src="../resource/img/zoopomerode.jpg" alt="" class="col-xs-12 col-md-4">
                <p class="c2 col-xs-12 col-md-8"> <br> Zoológico Pomerode foi fundado em 1932 sendo o primeiro zoológico privado fundado na região sul do Brasil.
                </p>
                <p class="col-xs-12 col-md-8">
                    <b class="c2"> Rua Hermann Weege, 180 - Centro, Pomerode - SC, 89107-000 </b>
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-md-12">
                <img src="../resource/img/praiadalagoinha.jpg" alt="" class="col-xs-12 col-md-4">
                <p class="c2 col-xs-12 col-md-8"> <br> Lagoinha é um praia brasileira localizada no município de Paraipaba no estado do Ceará. Recebeu o nome
                    devido as inúmeras lagoas de água doce existentes na região. </p>
                <p class="col-xs-12 col-md-8">
                    <b class="c2"> 341, R. Garoupa, 183 - Centro, Bombinhas - SC, 88215-000 </b>
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-md-12">
                <img src="../resource/img/serradocorvobranco.jpg" alt="" class="col-xs-12 col-md-4">
                <p class="c2 col-xs-12 col-md-8"> <br> A serra do Corvo Branco é parte das serras catarinense e gaúcha que, na realidade, são subdivisões da
                    formação rochosa que tem origem no Paraguai e corta os três estados. da Região Sul do Brasil. </p>
                <p class="col-xs-12 col-md-8">
                    <b class="c2"> 3 Urubici - SC, 88890-000 </b>
                </p>
            </div>
        </div>
    </div>
</body>

</html>