<!DOCTYPE.html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/jquery-3.2.1.min.js"></script>
    <link rel="stylesheet" href="../css/style.css">

    <title> Canal de Notícias </title>

</head>

<body>
    <div class="container">

        <div class="row">
            <div class="col-xs-12 col-md-12">
                <img src="../resource/img/noticias.jpg" alt="" class="col-xs-12 col-md-3">
                <h3 class="c3 col-xs-4 col-md-2"> Home </h3>
                <h3 class="c3 col-xs-4 col-md-3"> Comunidade </h3>
                <h3 class="c3 col-xs-6 col-md-2"> Sobre </h3>
                <h3 class="c3 col-xs-4 col-md-2"> Suporte </h3>

            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-md-12">
                
                <ul class="c2 col-xs-12 col-md-3"> <br>
                    <li> <h3> Feed de Notícias </h3> </li> <br><br><br>
                    <li> <h3> Novidades </h3> </li> <br><br><br>
                    <li> <h3> Novelas </h3> </li> <br><br><br>
                    <li> <h3> Famosos </h3> </li> <br><br><br>
                    <li> <h3> Esportes </h3> </li> <br><br><br>
                    <li> <h3> Brasil </h3> </li> <br><br><br>
                    <li> <h3> Moeda </h3> </li> <br><br><br>
                    <li> <h3> Concursos </h3> </li>
                </ul> <br><br>
                
                <img src="../resource/img/enem.jpg" alt="" class="col-xs-12 col-md-9">
                <p class="c3 col-xs-12 col-md-9"> O ENEM está próximo e os alunos da rede SESI de Goiana-PE se preparam com muito foco,
                    para atingirem seus objetivos. A demanda SESI-SENAI prepara os alunos para o futuro, procurando sempre oferecer
                    os melhores recursos e a melhor qualidade de aprendizagem. Faça a matrícula do seu filho e venha fazer parte da 
                    nossa família. <br><br>
                </p>
                <img src="../resource/img/maisa.jpg" alt="" class="col-xs-4 col-md-3">
                <img src="../resource/img/Kevinho.jpg" alt="" class="col-xs-4 col-md-3">
                <img src="../resource/img/Marina1.jpg" alt="" class="col-xs-4 col-md-3">
                <p class="c3 col-xs-4 col-md-3"> Maisa trabalha atualmente na empresa Sbt e recentemente realizou sua festa de 15 anos
                    ao tema de Odalisca.
                </p>
                
                <p class="c3 col-xs-4 col-md-3"> Mc Kevinho como o próprio nome já diz, é um cantor de funk e á algumas semanas lançou seu
                    novo hit "Encaixa" com o cantor Leo Santana.
                </p>

                <p class="c3 col-xs-4 col-md-3"> Marina Ruy Barbosa é jovem, atriz e modelo, já trabalhou em muitas novelas da emissora rede 
                    Globo, recentemente trocou alianças.
                </p>
            </div>
        </div>
    </div>

</body>

</html>