<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, Initial-scale=1">
    <link href="../css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/jquery-3.2.1.min.js"></script>
    <link rel="stylesheet" href="../css/style.css">

    <title>
        STAR TREK
    </title>

</head>

<body>
    <div class="container">
        <div class="how">
            <div class="col-xs-12">

                <div class="how">
                    <div class="cabecario">
                        <center>
                            <h1><strong> STAR TREK </strong></h1>
                        </center>
                    </div>
                </div>

                <img src="../resource/img/startrekPoster01.jpg" alt="Jornada nas Estrelas: O Filme" class="col-xs-3">
                <div class="col-xs-6">

                    <p>
                        <h2> Jornada nas Estrelas: O Filme </h2>
                    </p>

                    <p>
                        <h3> Ano de Lançamento </h3>
                    </p>
                    <p> 1979 </p>

                    <p>
                        <h3> Diretor </h3>
                    </p>
                    <p> Robert Wise </p>

                    <p>
                        <h3> Pontuação no IMDB </h3>
                    </p>
                    <p> 6.4 </p>

                    <p>
                        <h3> Valor da Produção </h3>
                    </p>
                    <p> US$ 46 milhões </p>

                    <p>
                        <h3> Arrecadação de Bilheteria </h3>
                    </p>
                    <p> US$ 139 milhões </p>

                </div>
            </div>
        </div>

        <div class="how">
            <div class="col-xs-12">
                <img src="../resource/img/startrekPoster02.jpg" alt="Jornada nas Estrelas: O Filme" class="col-xs-3 img-responsive">
                <div class="col-xs-6">

                    <p>
                        <h2> Jornada nas Estrelas II - A Ira de Khan </h2>
                    </p>

                    <p>
                        <h3> Ano de Lançamento </h3>
                    </p>
                    <p> 1982 </p>

                    <p>
                        <h3> Diretor </h3>
                    </p>
                    <p> Nicholas Meyer </p>

                    <p>
                        <h3> Pontuação no IMDB </h3>
                    </p>
                    <p> 7.7 </p>

                    <p>
                        <h3> Valor da Produção </h3>
                    </p>
                    <p> US$ 11,2 milhões </p>

                    <p>
                        <h3> Arrecadação de Bilheteria </h3>
                    </p>
                    <p> US$ 97 milhões </p>

                </div>
            </div>
        </div>

        <div class="how">
            <div class="col-xs-12">
                <img src="../resource/img/startrekPoster03.jpg" alt="Jornada nas Estrelas: O Filme" class="col-xs-3">
                <div class="col-xs-6">

                    <p>
                        <h2> Jornada nas Estrelas III - À Procura de Spock </h2>
                    </p>

                    <p>
                        <h3> Ano de Lançamento </h3>
                    </p>
                    <p> 1984 </p>

                    <p>
                        <h3> Diretor </h3>
                    </p>
                    <p> Leonard Nimoy </p>

                    <p>
                        <h3> Pontuação no IMDB </h3>
                    </p>
                    <p> 6.6 </p>

                    <p>
                        <h3> Valor da Produção </h3>
                    </p>
                    <p> US$ 16 milhões </p>

                    <p>
                        <h3> Arrecadação de Bilheteria </h3>
                    </p>
                    <p> US$ 87 milhões </p>

                </div>
            </div>
        </div>

        <div class="how">
            <div class="col-xs-12">
                <img src="../resource/img/startrekPoster04.jpg" alt="Jornada nas Estrelas: O Filme" class="col-xs-3">
                <div class="col-xs-6">

                    <p>
                        <h2> Jornada nas Estrelas IV - A Volta para Casa </h2>
                    </p>

                    <p>
                        <h3> Ano de Lançamento </h3>
                    </p>
                    <p> 1986 </p>

                    <p>
                        <h3> Diretor </h3>
                    </p>
                    <p> Leonard Nimoy </p>

                    <p>
                        <h3> Pontuação no IMDB </h3>
                    </p>
                    <p> 7.3 </p>

                    <p>
                        <h3> Valor da Produção </h3>
                    </p>
                    <p> US$ 21 milhões </p>

                    <p>
                        <h3> Arrecadação de Bilheteria </h3>
                    </p>
                    <p> US$ 133 milhões </p>

                </div>
            </div>
        </div>

        <div class="how">
            <div class="col-xs-12">
                <img src="../resource/img/startrekPoster05.jpg" alt="Jornada nas Estrelas: O Filme" class="col-xs-3">
                <div class="col-xs-6">

                    <p>
                        <h2> Jornada nas Estrelas V - A Última Fronteira </h2>
                    </p>

                    <p>
                        <h3> Ano de Lançamento </h3>
                    </p>
                    <p> 1989 </p>

                    <p>
                        <h3> Diretor </h3>
                    </p>
                    <p> William Shatner </p>

                    <p>
                        <h3> Pontuação no IMDB </h3>
                    </p>
                    <p> 5.4 </p>

                    <p>
                        <h3> Valor da Produção </h3>
                    </p>
                    <p> US$ 33 milhões</p>

                    <p>
                        <h3> Arrecadação de Bilheteria </h3>
                    </p>
                    <p> US$ 63 milhões </p>

                </div>
            </div>
        </div>

        <div class="how">
            <div class="col-xs-12">
                <img src="../resource/img/startrekPoster06.jpg" alt="Jornada nas Estrelas: O Filme" class="col-xs-3">
                <div class="col-xs-6">

                    <p>
                        <h2> Jornada nas Estrelas VI - A Terra Desconhecida </h2>
                    </p>

                    <p>
                        <h3> Ano de Lançamento </h3>
                    </p>
                    <p> 1991 </p>

                    <p>
                        <h3> Diretor </h3>
                    </p>
                    <p> Nicholas Meyer </p>

                    <p>
                        <h3> Pontuação no IMDB </h3>
                    </p>
                    <p> 7.2 </p>

                    <p>
                        <h3> Valor da Produção </h3>
                    </p>
                    <p> US$ 27 milhões </p>

                    <p>
                        <h3> Arrecadação de Bilheteria </h3>
                    </p>
                    <p> US$ 96.888.996 </p>

                </div>
            </div>
        </div>

        <div class="how">
            <div class="col-xs-12">
                <img src="../resource/img/startrekPoster07.jpg" alt="Jornada nas Estrelas: O Filme" class="col-xs-3">
                <div class="col-xs-6">

                    <p>
                        <h2> Jornada nas Estrelas: Gerações </h2>
                    </p>

                    <p>
                        <h3> Ano de Lançamento </h3>
                    </p>
                    <p> 1994 </p>

                    <p>
                        <h3> Diretor </h3>
                    </p>
                    <p> David Carson </p>

                    <p>
                        <h3> Pontuação no IMDB </h3>
                    </p>
                    <p> 6.6 </p>

                    <p>
                        <h3> Valor da Produção </h3>
                    </p>
                    <p> US$ 35 milhões </p>

                    <p>
                        <h3> Arrecadação de Bilheteria </h3>
                    </p>
                    <p> US$ 118.071.125 </p>

                </div>
            </div>
        </div>

        <div class="how">
            <div class="col-xs-12">
                <img src="../resource/img/startrekPoster08.jpg" alt="Jornada nas Estrelas: O Filme" class="col-xs-3">
                <div class="col-xs-6">

                    <p>
                        <h2> Jornada nas Estrelas - Primeiro Contato </h2>
                    </p>

                    <p>
                        <h3> Ano de Lançamento </h3>
                    </p>
                    <p> 1996 </p>

                    <p>
                        <h3> Diretor </h3>
                    </p>
                    <p> Jonathan Frakes </p>

                    <p>
                        <h3> Pontuação no IMDB </h3>
                    </p>
                    <p> 7.6 </p>

                    <p>
                        <h3> Valor da Produção </h3>
                    </p>
                    <p> US$ 45 milhões </p>

                    <p>
                        <h3> Arrecadação de Bilheteria </h3>
                    </p>
                    <p> US$ 146.027.888 </p>

                </div>
            </div>
        </div>

        <div class="how">
            <div class="col-xs-12">
                <img src="../resource/img/startrekPoster09.jpg" alt="Jornada nas Estrelas: O Filme" class="col-xs-3">
                <div class="col-xs-6">

                    <p>
                        <h2> Jornada nas Estrelas - Insurreição </h2>
                    </p>

                    <p>
                        <h3> Ano de Lançamento </h3>
                    </p>
                    <p> 1998 </p>

                    <p>
                        <h3> Diretor </h3>
                    </p>
                    <p> Jonathan Frakes </p>

                    <p>
                        <h3> Pontuação no IMDB </h3>
                    </p>
                    <p> 6.4 </p>

                    <p>
                        <h3> Valor da Produção </h3>
                    </p>
                    <p> US$ 58 milhões </p>

                    <p>
                        <h3> Arrecadação de Bilheteria </h3>
                    </p>
                    <p> US$ 112.587.658 </p>

                </div>
            </div>
        </div>

        <div class="how">
            <div class="col-xs-12">
                <img src="../resource/img/startrekPoster10.jpg" alt="Jornada nas Estrelas: O Filme" class="col-xs-3">
                <div class="col-xs-6">

                    <p>
                        <h2> Jornada Nas Estrelas: Nêmesis </h2>
                    </p>

                    <p>
                        <h3> Ano de Lançamento </h3>
                    </p>
                    <p> 2002 </p>

                    <p>
                        <h3> Diretor </h3>
                    </p>
                    <p> Stuart Baird </p>

                    <p>
                        <h3> Pontuação no IMDB </h3>
                    </p>
                    <p> 6.4 </p>

                    <p>
                        <h3> Valor da Produção </h3>
                    </p>
                    <p> US$ 60.000.000 </p>

                    <p>
                        <h3> Arrecadação de Bilheteria </h3>
                    </p>
                    <p> US$ 67.312.826 </p>

                </div>
            </div>
        </div>

        <div class="how">
            <div class="col-xs-12">
                <img src="../resource/img/startrekPoster11.jpg" alt="Jornada nas Estrelas: O Filme" class="col-xs-3">
                <div class="col-xs-6">

                    <p>
                        <h2> Star Trek </h2>
                    </p>

                    <p>
                        <h3> Ano de Lançamento </h3>
                    </p>
                    <p> 2009 </p>

                    <p>
                        <h3> Diretor </h3>
                    </p>
                    <p> JJ Abrams </p>

                    <p>
                        <h3> Pontuação no IMDB </h3>
                    </p>
                    <p> 8.0 </p>

                    <p>
                        <h3> Valor da Produção </h3>
                    </p>
                    <p> US$ 150 milhões </p>

                    <p>
                        <h3> Arrecadação de Bilheteria </h3>
                    </p>
                    <p> US$ 385.680.446 </p>

                </div>
            </div>
        </div>

        <div class="how">
            <div class="col-xs-12">
                <img src="../resource/img/startrekPoster12.jpg" alt="Jornada nas Estrelas: O Filme" class="col-xs-3">
                <div class="col-xs-6">

                    <p>
                        <h2> Além da Escuridão: Star Trek </h2>
                    </p>

                    <p>
                        <h3> Ano de Lançamento </h3>
                    </p>
                    <p> 2013 </p>

                    <p>
                        <h3> Diretor </h3>
                    </p>
                    <p> JJ Abrams </p>

                    <p>
                        <h3> Pontuação no IMDB </h3>
                    </p>
                    <p> 7.8 </p>

                    <p>
                        <h3> Valor da Produção </h3>
                    </p>
                    <p> US$ 190 milhões </p>

                    <p>
                        <h3> Arrecadação de Bilheteria </h3>
                    </p>
                    <p> US$ 467.381.584 </p>

                </div>
            </div>
        </div>

        <div class="how">
            <div class="col-xs-12">
                <img src="../resource/img/startrekPoster13.jpg" alt="Jornada nas Estrelas: O Filme" class="col-xs-3">
                <div class="col-xs-6">

                    <p>
                        <h2> Star Trek: Sem Fronteiras </h2>
                    </p>

                    <p>
                        <h3> Ano de Lançamento </h3>
                    </p>
                    <p> 2016 </p>

                    <p>
                        <h3> Diretor </h3>
                    </p>
                    <p> Justin Lin </p>

                    <p>
                        <h3> Pontuação no IMDB </h3>
                    </p>
                    <p> 7.1 </p>

                    <p>
                        <h3> Valor da Produção </h3>
                    </p>
                    <p> US$ 185 milhões </p>

                    <p>
                        <h3> Arrecadação de Bilheteria </h3>
                    </p>
                    <p> US$ 343.471.816 </p>

                </div>
            </div>
        </div>
    </div>
</body>
</html>